* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
   
  }
  .card-2
  {
    position: absolute;
    width: 800px;
    height: 300px;
    top: 50px;
   
  }
  .form
  {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    align-self: center;
    margin: 0 auto;
    top:50px;
    
  }
  
  .nav-bar
  {
    position: absolute;
    width: 1440px;
    height: 114px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
  }
  .bg-1{
    position: absolute;
    width: 1038px;
    height: 443px;
    left: 201px;
    top: 205px;

  }
  .shadow
  {
    box-shadow: 10px 10px lightblue;
  }
  .card-1{
    Position:absolute;
    width: 800px;
    height: 300px;
    left: 350px;
    top: 240px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    

    color: #000000;

  }
  .bg-1
  {
    background-color: #D3D3D3;
  }
  .background
  {
    width: 100%;
    height: 780px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .heading {
    width: 913px;
    height: 342px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 435px;
    left: 263px;
    overflow: hidden;
    font-family: Work Sans;
  }
  .heading2 {
    width: 913px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    font-family: Work Sans;
    font-weight: Bold;
    font-size: 72px;
    opacity: 1;
    text-align: center;
  }
  .sub-heading {
    width: 698px;
    color: rgba(255,255,255,1);
    position: absolute;
    left: 371px;
    top: 609px;

    font-family: Work Sans;
    font-weight: Medium;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .button {
    position: absolute;
    
    height: 45px;
    left: 600px;
    top: 688px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    border-radius: 12px;
    background-color: #FFD700;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .text1{
    position: absolute;
width: 880px;
height: 78px;
left: 280px;
top: 0px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

  }