<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suggestions</title>
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link href="../static/styles/main.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
          <strong>GC07</strong>
        </a>
      </div>
    </nav>
    <div class="container">
      <div class="suggestions mb-5">
        <div class="text-center">
          <h1>Here are some suggestions</h1>
        </div>
        <div class="row">
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Boost Your Self-Image</div>
            <p class="card-text">
              People with depression often experience low self-esteem, so
              finding ways to feel better about yourself is an important aspect
              of treatment. Practice positive thinking by focusing your thoughts
              on your best qualities. You can also make lifestyle changes that
              can improve your self-esteem, such as eating a healthy diet,
              getting regular exercise, and spending time with friends who make
              you feel good about who you are.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Lifestyle Factors That Affect Mood</div>
            <p class="card-text">
              When you have depression, you can find ways to take control of
              your life and manage your treatment even beyond medications.
              Making some lifestyle changes can boost your mood and help
              alleviate many of your symptoms, including low self-esteem.
              "Minimizing stress as much as possible is a good idea when you're
              depressed, especially unnecessary or avoidable stressors that
              people can be pulled into when they're depressed," says Erik
              Nelson, MD, a psychiatrist and assistant professor of clinical
              psychiatry at the University of Cincinnati College of Medicine in
              Ohio.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Talk to a Therapist</div>
            <p class="card-text">
              Working with a therapist is often an important part of
              successfully managing depression. "Psychotherapy will focus on
              helping people adjust their lifestyle in ways that are possible,
              minimize their stress, and cope with stressors," says Dr. Nelson.
              Among the issues that you can address together are how to improve
              your self-esteem, switch from negative to positive thinking, and
              practice stress management.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Express Yourself in Writing</div>
            <p class="card-text">
              Writing in a journal is great therapy and can help you manage
              depression. You can relieve stress by being open about your
              thoughts, feelings, and concerns in your writing — and stress
              management is an important part of living well with depression. Be
              totally honest in your private journal. Writing down your feelings
              and challenges with depression can release pent-up emotions.
              You'll be amazed at how much better you feel after putting pen to
              paper for just a few minutes each day.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Stick to a Schedule</div>
            <p class="card-text">
              Maintaining a healthy and regular routine is very helpful for
              people with depression, says Nelson. "Many times with depression,
              people's motivation drops," he explains, making them feel
              unproductive and fueling feelings of low self-esteem. Schedule an
              activity that you have to do every day — make it one you really
              enjoy — and aim for as much balance as possible in your life.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Stay Involved</div>
            <p class="card-text">
              If you’re experiencing depression, you may feel like you want to
              withdraw socially and keep to yourself, either because of low
              self-esteem or a lack of interest. "Social life is important,"
              says Nelson. Push yourself to stay involved with your friends.
              Social connections can help keep you from spiraling downward into
              deeper depression and from becoming isolated and alone with your
              thoughts. Go to the movies, share a brisk walk, or just catch up
              with a close friend — it might lift your spirits.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Depend on Others</div>
            <p class="card-text">
              Friends and family can help you feel better about yourself when
              depression brings you down. Allow yourself to lean on loved ones
              when you need them. They can encourage you to follow your
              treatment plan, exercise, eat a healthy diet, and generally take
              care of yourself — all steps necessary to get better. You can also
              join a support group for people with depression for the chance to
              talk to others who understand what you're going through.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Sleep Well</div>
            <p class="card-text">
              Getting plenty of rest every night is a must for your mood. People
              with depression often have noticeable sleep disturbances — they
              either sleep too much or not enough. Go to bed and wake up on a
              regular schedule, and never skimp on your ZZZs. Feeling run-down
              will exacerbate your symptoms of depression and make it more
              difficult to be social, get exercise, and manage stress.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">
              Enjoy the Emotional Benefits of Exercise
            </div>
            <p class="card-text">
              Exercise offers physiological benefits that can help people going
              through depression. Physical activity relieves stress and can make
              you feel great. Plus, the satisfaction you get from finishing an
              engaging and challenging workout can boost your self-esteem as you
              get stronger and more physically fit. When you fight depression
              with a regular exercise routine, you’ll feel better emotionally
              and physically.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Make the Food and Mood Connection</div>
            <p class="card-text">
              "Diet and nutrition are very important," says Nelson, and cites
              omega-3 fatty acids as an example. Some studies have shown that a
              higher daily intake of omega-3s, which you can get in fish like
              salmon or through fish oil supplements, can improve mood. There
              are many connections between elements of diet and good nutrition
              and depression, adds Nelson. Eating a healthy diet can make you
              feel healthy, fit, and attractive, which improves self-esteem,
              while feeling unhealthy can worsen depression and play into
              negative self-perception, he says.
            </p>
          </div>
          <div class="col-md-4 card p-5 mt-5">
            <div class="card-title">Say No to Liquor</div>
            <p class="card-text">
              Alcohol isn't the answer when you’re struggling with depression,
              but many people turn to liquor to attempt to escape their illness.
              However, drinking can make the symptoms of depression even worse,
              and alcohol may also have a negative interaction with medications
              you’re taking to control depression. A healthy lifestyle is needed
              to manage depression, and avoiding drugs and alcohol is one key to
              a healthy lifestyle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
